* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header {
    display: flex;
    border: black 1px dotted;
}
main {
    display: flex;
    background-color: bisque;
    font-size: 2rem;
}