* {
    box-sizing: border-box;/* Hace el cálculo automático que recalcule el padding y el borde*/
    padding: 0;
    margin: 0;
}
main {
    width: 100%;
    height: 500px;
    border: 10px solid gray;
    padding: 20px 35px; 
}